// Footer

.footer {
padding-top: 110px;
padding-bottom: 0;
 
  @media screen and (max-width: $breakpointContainer) {
	@include adaptiveValue("padding-top", 110, 20);
}
}

.footer-items {
	display: flex;
	justify-content: space-between;
	gap: 40px;

	@media screen and (max-width: $burgerBreakpoint) {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		gap: 30px;
	}
}

.footer-logo {
	max-width: 560px;
	margin: 0;

	img {
		max-width: 100%;
		margin-bottom: 40px;

		@media screen and (max-width: $burgerBreakpoint) {
			margin-bottom: 30px;
			}
	}

	p {
		line-height: 1.33;
    color: $darkGrey;
		@include adaptiv-font(30, 20);
	}
}
.footer-contacts {
	margin: 0 0 90px 0;
	@media screen and (max-width: $burgerBreakpoint) {
		margin: 0 0 30px 0;
	}
}
.footer-header {
	font-weight: 800;
  @include adaptiv-font(40, 28);
  line-height: 1.25;
  color: $mainColor;
	margin-bottom: 30px;

	@media screen and (max-width: $burgerBreakpoint) {
		margin-bottom: 20px;
	}
}

.footer-contacts__email {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 30px;

	@media screen and (max-width: $burgerBreakpoint) {
		margin-bottom: 20px;
		}

	p {
		@include adaptiv-font(30, 20);
    line-height: 1.64;
    color: $darkGrey;
	}
}

.icons {
	display: flex;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: $burgerBreakpoint) {
		width: 40px;
		height: 40px;
		}
	@media screen and (max-width: $burgerBreakpoint) {
	.icon {
		width: 26px;
		height: 26px;
	}
	}
}
.footer-contacts__tel {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 30px;

	@media screen and (max-width: $burgerBreakpoint) {
		margin-bottom: 20px;
		}
	
	p {
		@include adaptiv-font(30, 20);
    line-height: 1.64;
    color: $darkGrey;
	}
}

.footer-contacts__social {
	display: flex;
	align-items: center;
	gap: 24px;
}

.footer-locations {
	max-width: 560px;

	p {
		@include adaptiv-font(30, 20);
		line-height: 1.33;
		color: $darkGrey;
		margin-bottom: 30px;

		@media screen and (max-width: $burgerBreakpoint) {
		margin-bottom: 20px;
		}
	}

	a {
		position: relative;
		font-weight: 600;
    font-size: 18px;
    line-height: 1.67;
    text-transform: uppercase;
    color: $mainColor;

		&:hover {
			color: $darkGrey;
		}
	}

	a::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -34px;
    width: 30px;
    height: 30px;
    background-image: url(../img/arrow-right-footer.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
	}
}

.mail-field__input {
	border-radius: 65px;
  padding: 20px 30px;

	  @media screen and (max-width: $burgerBreakpoint) {
		  border-radius: 45px;
      padding: 10px 20px;
		}

	&::placeholder {
		@include adaptiv-font(22, 18);
    line-height: 1.36;
    color: $darkGrey;
    opacity: 0.7;
	}
}

.form-button {
	margin-top: 30px;

	@media screen and (max-width: $burgerBreakpoint) {
		margin-top: 20px;
	}
}

.button-form {
	padding: 20px 40px;
	background-color: $mainColor;
	border-radius: 126px;
	font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  text-transform: uppercase;
	color: #fff;
 
	  @media screen and (max-width: $burgerBreakpoint) {
		  padding: 12px 24px;
	  	border-radius: 63px;
	    font-size: 15px;
	}
}

.footer-subscribe {
	margin-bottom: 70px;

	@media screen and (max-width: $burgerBreakpoint) {
		margin-bottom: 30px;
	}
}

.footer-bottom {
	border-top: 1px solid rgba($color: $mainColor, $alpha: 0.1);
	display: flex;
	justify-content: space-between;
	padding: 40px 0;

	@media screen and (max-width: $burgerBreakpoint) {
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
		padding: 20px 0;
	}
}

.footer-copyrights {

	p {
		@include adaptiv-font(22, 16);
    line-height: 1.36;
    color: $darkGrey;
		span {
			font-weight: 500;
      color: $mainColor;
		}
	}
}

.footer-terms {
display: flex;
	a,
	p {
		@include adaptiv-font(22, 16);
    line-height: 1.36;
    color: $darkGrey;
		transition: all ease 0.3s;
	}
	a:hover {
		color: $mainColor;
	}
}

.icon {
  fill: $darkGrey;
  transition: all ease 0.3s;
	
    &:hover {
	  fill: $mainColor;
}
}

