.order {
	max-width: 1350px;
	display: flex;
	gap: 21px;
	margin-left: auto;
	margin-right: auto;

	@media (max-width: $breakpoint992) {
    display: flex;
		flex-wrap: wrap;
		justify-content: center;
}
}

.order-img {

	img {
		@media (max-width: 1200px) {
			width: 600px;
			height: auto;
	}

	@media (max-width: $breakpoint992) {
		width: 100%;
 }
	}
}

.order-description {
	max-width: 512px;
		
	@media (max-width: $breakpoint768) {
   padding: 0 20px;
}

  @media (max-width: $breakpoint992) {
  	width: 100%;
}

  @media (max-width: $breakpoint480) {
	
}

.title {
	
	@media (max-width: $breakpoint992) {
  	margin-bottom: 20px;
		text-align: center;
}
}

p {
	@media (max-width: $breakpoint992) {
		text-align: center;
}
}
}

.order-button {
	margin-top: 60px;

	@media (max-width: $breakpoint992) {
		margin-top: 40px;
		text-align: center;
		
}
}

.button-order {
	padding: 20px 40px;
  font-size: 18px;
  line-height: 1.67;
 }